<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Invitation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" asp-href-include="css/*">
    <!-- <link rel="stylesheet" asp-href-include="css/*.css" > -->
    <link rel="stylesheet" href="~/css/style.css" >
  </head>
  <body>
    <main>
      @RenderBody()
    </main>
  </body>
</html>
