:root
{
  --text: black;
  --background: hsl(200, 50%, 90%);

  --primary: hsl(200, 70%, 80%);
  --secondary: hsl(30, 70%, 80%);
  --accent: hsl(200, 50%, 90%);
}

form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form section
{
  background-color: var(--primary);
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px var(--secondary);
  /* margin: .3rem; */
}

section input
{
  border-radius: 5px;
}

.submit
{
  padding: 1rem;
  border: none;
  box-shadow: 5px 5px var(--secondary);
  background-color: var(--primary);

  border-radius: 5px;

}

.invalid
{
  font-size: .9rem;
  color: red;
  font-weight: bold;
}
