body
{
  font-size: 1.5rem;
}

.center
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border
{
  border: 5px solid black;
  padding: 1rem;
  border-radius: 8px;
}

.link
{
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;

  outline-offset: 2px;
  outline: 3px solid black;
  border: 1px solid black;
  padding: .5rem;
  border-radius: 5px;
}

.guest-list
{
  margin-block-start: 2rem;
}

.guest-list .table tr th
{
  padding: 1rem;
  border: 3px solid black;
}

.guest-list .table tr td
{
  font-size: 1.1rem;
  padding-inline: 1rem;
}
