@model Invite

<article >
  <form class="form" asp-controller="Home" asp-action="Form" method="post">
    <section>
      <label asp-for="Name"></label>
      <div><span class="invalid" asp-validation-for="Name"></span></div>
      <input asp-for="Name">
    </section>
    <section>
      <label asp-for="LastName"></label>
      <div><span class="invalid" asp-validation-for="LastName"></span></div>
      <input asp-for="LastName">
    </section>
    <section>
      <label asp-for="Phone"></label>
      <div><span class="invalid" asp-validation-for="Phone"></span></div>
      <input asp-for="Phone">
    </section>
    <section>
      <label asp-for="Email"></label>
      <div><span class="invalid" asp-validation-for="Email"></span></div>
      <input asp-for="Email">
    </section>
    <section>
      <label>Do you Come ?</label>
      <input asp-for="IsComeUp">
    </section>
    <input class="submit" type="submit" value="Submit">
  </form>
</article>
