@model bool

<article>
  <h1>Thank you</h1>
  @if (Model)
  {
    <p>
      We will inform you about time to come up
    </p>
  }
  else
  {
    <p>
      Bad, but next time you need to come up!!!
    </p>
  }
</article>
