@model IEnumerable<Invite>

<article>
  <section class="info">
  <h2>Invitation</h2>
    <p>
      If you on this page, that's means you get invitate!
      We invite you to our party, if you interested share       contact data with us.
    </p>
    
  </section>
  <section class="invitation">
    <p>Do you want come up ?</p>

    <a asp-action="Form">Yes, I do</a>
  </section>
  <section class="guest-info">
    <h2>Guests</h2>

    <p>
      This table of all of guest that's be on party.
    </p>
  </section>
  <section class="table">

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>LastName</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        @foreach (Invite u in Model)
        {
          <tr>
            <td data-cell="name">@u.Name</td>
            <td data-cell="lastname">@u.LastName</td>
            <td data-cell="phone">@u.Phone</td>
            <td data-cell="email">@u.Email</td>
          </tr>
        }
      </tbody>
    </table>
  </section>
</article>
